<div class="card mt-3" style="width: 100%;">
  <img [src]="member().photoUrl" class="card-img-top" [alt]="member().knowAs">
  <div class="card-body text-center fw-bold">
    <h5 class="card-title"><i class="bi bi-person-fill"></i> {{member().knowAs}}</h5>
    <p class="card-text">{{member().city}}</p>
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/members/{{member().userName}}"><i class="bi bi-person-fill"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="bi bi-heart-fill"></i></button>
      </li><li class="list-inline-item">
        <button class="btn btn-primary"><i class="bi bi-envelope-fill"></i></button>
      </li>
    </ul>
  </div>
</div>