.card {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
  
    .card-img-top {
      transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
      border-radius: 15px 15px 0 0;
      
      &:hover {
        transform: scale(1.1);
        filter: brightness(80%);
      }
    }
  
    .card-body {
      background: rgba(255, 255, 255, 0.85);
      transition: background 0.5s ease-in-out, transform 0.5s ease-in-out;
  
      &:hover {
        background: rgba(255, 255, 255, 1);
  
        h5, p {
          color: #007bff;
        }
      }

      .member-icons {
        display: flex;
        justify-content: center;
      
        .btn {
          padding: 8px;
          font-size: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          transition: background-color 0.3s ease, transform 0.3s ease;
      
          &:hover {
            transform: translateY(-2px);
          }
        }
      
        .list-inline-item:nth-child(1) .btn{
          background-color: #0866ff; /* Màu cho icon 1 */
        }
      
        .list-inline-item:nth-child(2) .btn {
          background-color: #ff0055; /* Màu cho icon 2 */
        }
      
        .list-inline-item:nth-child(3) .btn {
          background-color: #1bd835; /* Màu cho icon 3 */
        }
      }
      
    }
  }


  