<div class="d-flex justify-content-center">
    <div class="col-12 col-lg-5">
        <main class="form-signin">
            <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
                <div class="text-center mb-4">
                    <h3 class="mb-3 fw-bold">ĐĂNG KÝ</h3>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <app-text-input
                            [formControl]="$any(registerForm.controls['firstName'])"
                            [id]="'firstName'"
                            [label]="'Tên'"
                            [submitted]="submitted"
                            appAutoFocus>
                        </app-text-input>
                    </div>
                    <div class="col-md-6">
                        <app-text-input
                            [formControl]="$any(registerForm.controls['lastName'])"
                            [id]="'lastName'"
                            [label]="'Họ'"
                            [submitted]="submitted"
                            appAutoFocus>
                        </app-text-input>
                    </div>
                </div>        
                
                <app-text-input
                [formControl]="$any(registerForm.controls['knowAs'])"
                [id]="'knowAs'"
                [submitted]="submitted"
                [label]="'Biệt danh (tên hiển thị)'"
                appAutoFocus
                >
                </app-text-input>   

                <app-text-input
                [formControl]="$any(registerForm.controls['email'])"
                [id]="'email'"
                [submitted]="submitted"
                [label]="'Email'"
                appAutoFocus
                >
                </app-text-input>   
                
                <app-date-picker
                [formControl]="$any(registerForm.controls['dateOfBirth'])"
                [maxDate]="maxDate"
                [label]="'Ngày sinh'"
                [id]="'dateOfBirth'"
                [submitted]="submitted">
                </app-date-picker>

                <div class="form-floating mb-3 d-flex align-items-center">
                    <p class="me-3 mb-0">Giới tính:</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="male" value="male" formControlName="gender">
                        <label class="form-check-label" for="male">Nam</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="female" value="female" formControlName="gender">
                        <label class="form-check-label" for="female">Nữ</label>
                    </div>
                </div>     

                <app-text-input
                [type]="'password'"
                [id]="'password'"
                [submitted]="submitted"
                [formControl]="$any(registerForm.controls['password'])"
                [label]="'Mật khẩu'"
                appAutoFocus
                >
                </app-text-input>

                <app-text-input
                [id]="'confirmPassword'"
                [type]="'password'"
                [submitted]="submitted"
                [formControl]="$any(registerForm.controls['confirmPassword'])"
                [label]="'Xác nhận mật khẩu'"
                appAutoFocus
                >
                </app-text-input>

                @if(errorMessage.length > 0) {
                    <div class="form-floatin">
                        <app-validation-message [errorMessage]="errorMessage"></app-validation-message>
                    </div>
                }

                <div class="d-grid mt-4 px-">
                    <button class="btn btn-lg btn-info" type="submit"> ĐĂNG KÝ </button>
                </div>
            </form>
        </main>
    </div>
</div>

<!-- <p>{{registerForm.value | json}}</p> -->

                <!-- <div class="form-floating mb-3">
                    <input type="password" formControlName="password" id="password" class="form-control"
                    [class.is-invalid]="submitted && registerForm.get('password')?.errors
                    && registerForm.get('password')?.touched">
                    <label for="password">Mật khẩu</label>
                    @if (submitted && registerForm.get('password')?.hasError('required')) {
                        <span class="text-danger mt-2 d-block">Mật khẩu không được để trống</span>
                    }@else if (submitted && registerForm.get('password')?.hasError('minlength') || registerForm.get('password')?.hasError('maslength')) {
                        <span class="text-danger mt-2 d-block">Mật khẩu phải ít nhất 6 ký tự và không quá 15 ký tự</span>
                    }
                </div> -->
