<section class="h-100 gradient-custom-2">
  <div class="container h-100">
    <div class="row d-flex justify-content-center">
      <div class="col col-lg-9 col-xl-8">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row position-relative" style="background-color: #000; height: 200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img [src]="member.photoUrl || './assets/avatar.png'" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2">
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5>{{member.knowAs}} 
                <span class="text-info" style="font-size: 8px;">
                  <i *ngIf="member.lastActive">(Active <b>{{capitalize(member.lastActive | timeago)}})</b></i>
                </span>
              </h5>
              <h6>{{member.firstName}} {{member.lastName}}</h6>
              <p *ngIf="member.cityName||member.stateName || member.countryName">{{member.cityName}}-{{member.stateName}} - {{member.countryName}}</p>
            </div>
          
            <!-- Đoạn mã mới ở đây -->
            <div class="position-absolute" style="top: 0; right: 0;">
              <div class="p-4">
                <div class="d-flex justify-content-end text-center py-1 text-body">
                  <div>
                    <p class="mb-1 text-white">{{images.length}}</p>
                    <p class="small mb-0 text-white">Photos</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="card-body p-4 text-black">
            <div class="mb-5  text-body">
                <ng-container>
                  <tabset class="member-tabset" #memberTabs [justified]="true" customClass="customClass">

                    <tab [heading]="'Introduction of ' + member.knowAs" (selectTab)="onTabActivated($event)" id="tab1">
                      @if (member.introduction) {
                        <div class="mb-1">
                          <p class="pt-3 um"><b>About me</b></p>
                          <b>{{member.introduction}}</b>
                        </div>
                      }
                      @if(member.lookingFor){
                        <div class="mb-1" id="tab2">
                          <p class="pt-3 um"><b>People who want to find</b></p>
                          <b>{{member.lookingFor}}</b>
                        </div>
                      }
                      @if(member.interests.length > 0) {
                        <div class="mb-1" id="tab2">
                          <p class="pt-3 um"><b>Interest</b></p>
                          <p *ngFor="let i of member.interests">{{i.name}}</p>
                        </div>
                      }
                      <div class="mb-1" id="tab3">
                        <p class="pt-3 um"><b>Detail</b></p>
                        <p class="mb-1">Age: <b>{{member.age}}</b></p>
                        <p class="mb-1">Join Date: <b>{{member.dateCreated | date: 'dd/MM/yyyy'}}</b></p>
                      </div>
    
                      @if (images.length > 0) {
                        <div class="d-flex justify-content-between align-items-center mb-4 text-body mt-3">
                          <p class="lead mb-0 fw-bold">Recent photos</p>
                          <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
                        </div>
                      }
          
                      <div class="row g-2">
                        <div class="col-4 mb-2" *ngFor="let image of images; let i = index" [lightbox]="i" [gallery]="galleryId">
                          <img [src]="image.data?.thumb" alt="Member Photo"
                            class="w-100 rounded-3">
                        </div>
                      </div>
                    </tab>
    
                    <!-- <tab heading="Interest" (selectTab)="onTabActivated($event)">
                      <p *ngFor="let i of member.interests">{{i.name}}</p>
                    </tab> -->
    
                    <!-- <tab heading="Message" (selectTab)="onTabActivated($event)">
                      <app-member-message 
                      [username]="member.email"
                       [messages]="message"
                       [chatUserName]="chatUserName"
                       [chatUserPhotoUrl]="chatUserPhotoUrl"
                       (updateMessage)="onUpdateMessage($event)"></app-member-message>
                    </tab> -->
    
                  </tabset>
                </ng-container>
                
                <!-- <ng-template #privateTemplate>
                  <div class="private-account-container text-center">
                    <i class="bi bi-shield-lock icon-private"></i>
                    <p class="message-title">This account is private</p>
                    <p class="message-subtitle">Follow to see their photos and information</p>
                  </div>
                </ng-template> -->
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>