@if (member) {
<section class="h-100 gradient-custom-2">
  <div class="container h-100">
    <div class="row d-flex justify-content-center">
      <div class="col col-lg-9 col-xl-8">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height: 200px">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
              <img [src]="member.photoUrl || './assets/avatar.png'" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1" />
            </div>
            <div class="ms-3" style="margin-top: 130px">
              <h5>
                {{ member.knowAs }}
                <span style="font-size: 8px; color: rgb(235, 235, 235)"></span>
              </h5>
              @if(member.city || member.country) {
                <p>{{ member.city }} - {{ member.country }}</p>
              }
              <p></p>
            </div>
          </div>
          <div class="card-body p-4 text-black mt-5">
            <div class="mb-5 text-body">
              <tabset class="member-tabset">
                <tab heading="Your profile" id="tab1">
                  <form [formGroup]="editForm" (ngSubmit)="updateMember()">
                    <!-- Dirty form warning -->
                    <div *ngIf="editForm.dirty" class="alert alert-warning" role="alert">
                      <strong>Note!</strong> Please click save before leaving the page.
                    </div>
                  
                    <h4 class="fs-6 px-3 py-3">About me</h4>
                    <textarea formControlName="introduction" class="form-control" rows="4"></textarea>
                  
                    <h4 class="fs-6 px-3 py-3">People who want to find</h4>
                    <textarea formControlName="lookingFor" class="form-control" rows="4"></textarea>
                  
                    <h4 class="fs-6 px-3 py-3">Interest</h4>
                    <textarea formControlName="interests" class="form-control" rows="4"></textarea>
                  
                    <!-- City input -->
                    <div class="mb-3">
                      <label for="city" class="form-label">City</label>
                      <input type="text" class="form-control" formControlName="city" id="city" />
                    </div>
                  
                    <!-- Country input -->
                    <div class="mb-3">
                      <label for="country" class="form-label">Country</label>
                      <input type="text" class="form-control" formControlName="country" id="country" />
                    </div>
                  
                    <!-- Private Account checkbox -->
                    <div class="form-check mb-3">
                      <input class="form-check-input me-2" type="checkbox" id="isPrivate" formControlName="isPrivate">
                      <label class="form-check-label pt-1" for="isPrivate">Private Account</label>
                    </div>
                  
                    <!-- Save button -->
                    <div class="d-flex justify-content-center">
                      <button class="btn btn-success" [disabled]="!editForm.dirty">
                        Save all changes
                      </button>
                    </div>
                  </form>
                  
                </tab>

                <tab heading="Edit photo">
                  <app-photo-editor [member]="member" (memberChange)="onMemberChange($event)"></app-photo-editor>
                </tab>

              </tabset>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
}