@if (member) {
<section class="h-100 gradient-custom-2">
  <div class="container h-100">
    <div class="row d-flex justify-content-center">
      <div class="col col-lg-9 col-xl-8">
        <div class="card">
          <div
            class="rounded-top text-white d-flex flex-row"
            style="background-color: #000; height: 200px"
          >
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
              <img
                [src]="member.photoUrl"
                alt="Generic placeholder image"
                class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1"
              />
            </div>
            <div class="ms-3" style="margin-top: 130px">
              <h5>
                {{ member.knowAs }}
                <span style="font-size: 8px; color: rgb(235, 235, 235)"></span>
              </h5>
              <p>{{ member.city }} - {{ member.country }}</p>
              <p></p>
            </div>
          </div>
          <div class="p-4 text-black bg-body-tertiary">
            <div class="d-flex justify-content-end text-center py-1 text-body">
              <div>
                <p class="mb-1 h5">253</p>
                <p class="small text-muted mb-0">Ảnh</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">1026</p>
                <p class="small text-muted mb-0">Người theo dõi</p>
              </div>
              <div>
                <p class="mb-1 h5">478</p>
                <p class="small text-muted mb-0">Đang theo dõi</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5 text-body">
              <tabset class="member-tabset">
                <tab heading="Hồ sơ của bạn" id="tab1">
                  <form [formGroup]="editForm" (ngSubmit)="updateMember()">
                    @if (editForm.dirty) {
                    <div class="alert alert-warning" role="alert">
                      <strong>Lưu ý!</strong> Hãy nhấn nút lưu trước khi rời
                      khỏi trang
                    </div>
                    }
                    <h4 class="fs-6 px-3 py-3">Mô tả về bản thân</h4>
                    <textarea
                      formControlName="introduction"
                      class="form-control"
                      rows="4"
                    ></textarea>

                    <h4 class="fs-6 px-3 py-3">Người muốn tìm kiếm</h4>
                    <textarea
                      formControlName="lookingFor"
                      class="form-control"
                      rows="4"
                    ></textarea>

                    <h4 class="fs-6 px-3 py-3">Sở thích</h4>
                    <textarea
                      formControlName="interests"
                      class="form-control"
                      rows="4"
                    ></textarea>

                    <div class="d-fex align-items-center">
                      <label for="city">Thành phố</label>
                      <input
                        type="text"
                        class="form-control mx-2"
                        formControlName="city"
                        id="city"
                      />
                    </div>

                    <div class="d-fex align-items-center">
                      <label for="country">Quốc Gia</label>
                      <input
                        type="text"
                        class="form-control mx-2"
                        formControlName="country"
                        id="country"
                      />
                    </div>

                    <div class="d-flex justify-content-center">
                      <button
                        class="btn btn-success"
                        [disabled]="!editForm.dirty"
                      >
                        Lưu lại tất cả thay đổi
                      </button>
                    </div>
                  </form>
                </tab>

                <tab heading="Tin nhắn"> message-work </tab>
              </tabset>
            </div>
            <div
              class="d-flex justify-content-between align-items-center mb-4 text-body"
            >
              <p class="lead mb-0 fw-bold">Ảnh gần đây</p>
              <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
            </div>

            <!-- <div class="grid">
                    <div class="grid-item" *ngFor="let image of images; let i = index" 
                         [lightbox]="i" 
                         [gallery]="galleryId">
                      <img [src]="image.data?.thumb" alt="Member Photo" class="rounded" />
                    </div>
                </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
}
